In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

d = pd.read_csv('unclean cclass.csv')

In [2]:
d1 = d.copy()

In [3]:
d1.shape

(4006, 11)

In [4]:
d1.tail()

,model,year,price,transmission,mileage,fuel type,engine size,mileage2,fuel type2,engine size2,reference
4001,C Class,2017.0,"£14,700",Manual,"31,357",25,£150,70.6,Diesel,1.598,/ad/25451436
4002,C Class,2018.0,"£18,500",Automatic,"28,248",31,£150,64.2,Diesel,2.143,/ad/25451481
4003,C Class,2014.0,"£11,900",Manual,"48,055",31,£20,65.7,Diesel,2.143,/ad/25057204
4004,C Class,2014.0,"£11,300",Automatic,"49,865",46,£145,56.5,Diesel,2.143,/ad/25144481
4005,C Class,2014.0,"£14,800",Automatic,"55,445",37,£30,64.2,Diesel,2.143,/ad/25154247

In [5]:
d1.isna().sum()

model             99
year             102
price             99
transmission      99
mileage          198
fuel type       2677
engine size      164
mileage2         116
fuel type2       198
engine size2     198
reference         99
dtype: int64

In [6]:
d1 = d1[~d1['year'].isna()]

In [7]:
d1['year'] = d1['year'].astype(int)

In [8]:
d1.isna().sum()

model              0
year               0
price              0
transmission       0
mileage           97
fuel type       2578
engine size       65
mileage2          17
fuel type2        97
engine size2      97
reference          0
dtype: int64

In [9]:
d1.dtypes

model           object
year             int32
price           object
transmission    object
mileage         object
fuel type       object
engine size     object
mileage2        object
fuel type2      object
engine size2    object
reference       object
dtype: object

In [10]:
d1.shape

(3904, 11)

In [11]:
d1['price'].isna().sum()

0

In [12]:
d1['price'] = d1['price'].str.slice(2,8).str.replace(',','')
d1['price']

0       30495
1       29989
2       37899
3       30399
4       29899
        ...
4001    14700
4002    18500
4003    11900
4004    11300
4005    14800
Name: price, Length: 3904, dtype: object

In [13]:
d1['price'] = d1['price'].astype(int)

In [14]:
d1.head()

,model,year,price,transmission,mileage,fuel type,engine size,mileage2,fuel type2,engine size2,reference
0,C Class,2020,30495,Automatic,NaN,Diesel,2,"1,200",NaN,NaN,/ad/25017331
1,C Class,2020,29989,Automatic,NaN,Petrol,1.5,"1,000",NaN,NaN,/ad/25043746
2,C Class,2020,37899,Automatic,NaN,Diesel,2,500,NaN,NaN,/ad/25142894
3,C Class,2019,30399,Automatic,NaN,Diesel,2,"5,000",NaN,NaN,/ad/24942816
4,C Class,2019,29899,Automatic,NaN,Diesel,2,"4,500",NaN,NaN,/ad/24913660

In [15]:
d1['mileage2'] = d1['mileage2'].str.replace(',','')
#d1['mileage2']

In [16]:
d1.shape

(3904, 11)

In [17]:
d1['mileage2']=d1['mileage2'].replace(to_replace='nan',
                             value='62.67831125827794')

In [18]:
d1[d1['mileage2']=='Unknown']

,model,year,price,transmission,mileage,fuel type,engine size,mileage2,fuel type2,engine size2,reference
3889,C Class,2020,39950,Automatic,NaN,Hybrid,2000,Unknown,NaN,NaN,/ad/25482786

In [19]:
d1['mileage2']=d1['mileage2'].replace(to_replace="Unknown",
                             value='62.67831125827794')

In [20]:
d1[d1['mileage2']=='62.67831125827794']

,model,year,price,transmission,mileage,fuel type,engine size,mileage2,fuel type2,engine size2,reference
3889,C Class,2020,39950,Automatic,NaN,Hybrid,2000,62.67831125827794,NaN,NaN,/ad/25482786

In [21]:
d1['mileage2'].unique()

array(['1200', '1000', '500', '5000', '4500', '1412', '3569', '3635',
       '46.3', '58.9', '54.3', '53.3', '62.8', '64.2', '60.1', '67.3',
       '34.5', '49.6', '65.7', nan, '68.9', '51.4', '76.4', '134.5',
       '45000', '36000', '67150', '44.8', '70.6', '52.3', '23.5', '47.1',
       '61.4', '37000', '30676', '40005', '45.6', '56.5', '33.6', '21800',
       '28.5', '48.7', '43.5', '55.4', '36.2', '57.7', '35.8', '72.4',
       '74.3', '44.1', '42.2', '122.8', '50.4', '217.3', '29283', '78.5',
       '47.9', '29.1', '40.4', '28', '29.7', '29.4', '34', '30.4', '35.3',
       '40.9', '41.5', '31.7', '17222', '32.8', '7255', '15902', '13891',
       '28.3', '23', '28.8', '14876', '27.2', '42.8', '39.2', '68000',
       '48000', '39.8', '34.9', '15754', '30187', '25997', '27566',
       '39379', '33430', '60185', '23063', '18406', '41050', '60000',
       '113770', '38.7', '10951', '57900', '58535', '28.2', '49846',
       '31.4', '20894', '10444', '1941', '32.1', '59000', '36.7', '52000',
       '63000', '110461', '88082', '32.5', '37.7', '16000', '11444',
       '21154', '62.67831125827794', '38.2', '44644', '5669', '4235',
       '3000'], dtype=object)

In [22]:
d1['mileage2'].astype(float)

0       1200.0
1       1000.0
2        500.0
3       5000.0
4       4500.0
         ...
4001      70.6
4002      64.2
4003      65.7
4004      56.5
4005      64.2
Name: mileage2, Length: 3904, dtype: float64

In [23]:
d1['mileage'] = d1['mileage'].str.replace(',','')

In [24]:
d1['mileage'].unique()

array([nan, '44900', '88200', ..., '48055', '49865', '55445'],
      dtype=object)

In [25]:
d1['mileage']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
4001    31357
4002    28248
4003    48055
4004    49865
4005    55445
Name: mileage, Length: 3904, dtype: object

In [26]:
d1.isna().sum()

model              0
year               0
price              0
transmission       0
mileage           97
fuel type       2578
engine size       65
mileage2          17
fuel type2        97
engine size2      97
reference          0
dtype: int64

In [27]:
d1.shape

(3904, 11)

In [28]:
d1['fuel type'].isna().sum()

2578

In [29]:
d1['fuel type'] = d1['fuel type'].replace(to_replace='nan',value='32')

In [30]:
d1[d1['fuel type']=='NaN']

Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuel type, engine size, mileage2, fuel type2, engine size2, reference]
Index: []

In [31]:
d1['fuel type'].isna().sum()

2578

In [32]:
d1.drop('fuel type',axis=1)

,model,year,price,transmission,mileage,engine size,mileage2,fuel type2,engine size2,reference
0,C Class,2020,30495,Automatic,NaN,2,1200,NaN,NaN,/ad/25017331
1,C Class,2020,29989,Automatic,NaN,1.5,1000,NaN,NaN,/ad/25043746
2,C Class,2020,37899,Automatic,NaN,2,500,NaN,NaN,/ad/25142894
3,C Class,2019,30399,Automatic,NaN,2,5000,NaN,NaN,/ad/24942816
4,C Class,2019,29899,Automatic,NaN,2,4500,NaN,NaN,/ad/24913660
...,...,...,...,...,...,...,...,...,...,...
4001,C Class,2017,14700,Manual,31357,£150,70.6,Diesel,1.598,/ad/25451436
4002,C Class,2018,18500,Automatic,28248,£150,64.2,Diesel,2.143,/ad/25451481
4003,C Class,2014,11900,Manual,48055,£20,65.7,Diesel,2.143,/ad/25057204
4004,C Class,2014,11300,Automatic,49865,£145,56.5,Diesel,2.143,/ad/25144481
4005,C Class,2014,14800,Automatic,55445,£30,64.2,Diesel,2.143,/ad/25154247

In [33]:
d1[d1['mileage2']=='NaN']

Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuel type, engine size, mileage2, fuel type2, engine size2, reference]
Index: []

In [34]:
d1['mileage']=d1['mileage'].fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [35]:
d1['mileage2']

0       1200
1       1000
2        500
3       5000
4       4500
        ...
4001    70.6
4002    64.2
4003    65.7
4004    56.5
4005    64.2
Name: mileage2, Length: 3904, dtype: object

In [36]:
d1['mileage2'].astype(float)

0       1200.0
1       1000.0
2        500.0
3       5000.0
4       4500.0
         ...
4001      70.6
4002      64.2
4003      65.7
4004      56.5
4005      64.2
Name: mileage2, Length: 3904, dtype: float64

In [37]:
d1['fuel type'].unique()

array(['Diesel', 'Petrol', '29', '34', '37', '31', '32', '38', '33', nan,
       '28', '25', '36', '26', '30', '44', '35', '43', '27', '39', '40',
       '24', '46', '45', '48', 'Hybrid', '47'], dtype=object)

In [38]:
d1['fuel type2'].unique()

array([nan, 'Petrol', 'Diesel', 'Hybrid', 'Other'], dtype=object)

In [39]:
d1[d1['fuel type']=='Diesel']

,model,year,price,transmission,mileage,fuel type,engine size,mileage2,fuel type2,engine size2,reference
0,C Class,2020,30495,Automatic,NaN,Diesel,2,1200,NaN,NaN,/ad/25017331
2,C Class,2020,37899,Automatic,NaN,Diesel,2,500,NaN,NaN,/ad/25142894
3,C Class,2019,30399,Automatic,NaN,Diesel,2,5000,NaN,NaN,/ad/24942816
4,C Class,2019,29899,Automatic,NaN,Diesel,2,4500,NaN,NaN,/ad/24913660
5,C Class,2020,30999,Automatic,NaN,Diesel,2,1000,NaN,NaN,/ad/25059312
...,...,...,...,...,...,...,...,...,...,...,...
3971,C Class,2020,34480,Automatic,NaN,Diesel,2000,3000,NaN,NaN,/ad/25039369
3986,C Class,2016,14000,Automatic,NaN,Diesel,2.1,45000,NaN,NaN,/ad/25438704
3987,C Class,2015,12000,Automatic,NaN,Diesel,2.1,40005,NaN,NaN,/ad/25483276
3988,C Class,2017,22767,Automatic,NaN,Diesel,2.1,30676,NaN,NaN,/ad/25474582
3989,C Class,2020,31900,Automatic,NaN,Diesel,2000,5000,NaN,NaN,/ad/25039390

In [40]:
d1.drop('fuel type',axis=1,inplace=True)
#d1['fuel type2'].str.replace('nan','Diesel')

In [41]:
d1['mileage'].isna().sum()

97

In [42]:
d1['mileage2'].isna().sum()

17

In [43]:
d1['engine size2'].isna().sum()

97

In [44]:
d1 = d1.drop('reference',axis=1)

In [45]:
d1.shape

(3904, 9)

In [46]:
d1 = d1[~d1['mileage'].isna()]

In [47]:
d1.shape

(3807, 9)

In [48]:
d1.isna().sum()

model            0
year             0
price            0
transmission     0
mileage          0
engine size     65
mileage2        17
fuel type2       0
engine size2     0
dtype: int64

In [50]:
d1 = d1.dropna()

In [51]:
d1.shape

(3739, 9)

In [53]:
d1

,model,year,price,transmission,mileage,engine size,mileage2,fuel type2,engine size2
10,C Class,2013,9995,Automatic,44900,£160,46.3,Petrol,1.6
11,C Class,2012,6995,Automatic,88200,£125,58.9,Diesel,2.1
12,C Class,2012,7495,Automatic,115000,£145,54.3,Diesel,2.1
13,C Class,2011,8995,Automatic,69250,£150,53.3,Diesel,2.1
14,C Class,2015,14995,Automatic,49850,£30,62.8,Diesel,2.1
...,...,...,...,...,...,...,...,...,...
4001,C Class,2017,14700,Manual,31357,£150,70.6,Diesel,1.598
4002,C Class,2018,18500,Automatic,28248,£150,64.2,Diesel,2.143
4003,C Class,2014,11900,Manual,48055,£20,65.7,Diesel,2.143
4004,C Class,2014,11300,Automatic,49865,£145,56.5,Diesel,2.143
4005,C Class,2014,14800,Automatic,55445,£30,64.2,Diesel,2.143

In [52]:
d1.dtypes

model           object
year             int32
price            int32
transmission    object
mileage         object
engine size     object
mileage2        object
fuel type2      object
engine size2    object
dtype: object

In [54]:
d1['mileage'].astype(int)

ValueError: invalid literal for int() with base 10: 'Unknown'

In [56]:
d1[d1['mileage']=='Unknown']

,model,year,price,transmission,mileage,engine size,mileage2,fuel type2,engine size2
3922,C Class,2020,36890,Automatic,Unknown,£145,64.2,Diesel,2000
3942,C Class,2020,36890,Automatic,Unknown,£145,61.4,Diesel,2000

In [57]:
d1.drop([3922,3942],axis=0,inplace=True)

In [58]:
d1[d1['mileage']=='Unknown']

Empty DataFrame
Columns: [model, year, price, transmission, mileage, engine size, mileage2, fuel type2, engine size2]
Index: []

In [59]:
d1.shape

(3737, 9)

In [61]:
d1['mileage']=d1['mileage'].astype(int)

In [62]:
d1.shape

(3737, 9)

In [63]:
d1['engine size']=d1['engine size'].astype(float)

ValueError: could not convert string to float: '£160'

In [66]:
d1['engine size']=d1['engine size'].str.slice(1,4)

In [67]:
d1['engine size']=d1['engine size'].astype(int)

In [68]:
d1['mileage2']=d1['mileage2'].astype(float)

In [69]:
d1['engine size2']=d1['engine size2'].astype(float)

ValueError: could not convert string to float: 'Unknown'

In [70]:
d1[d1['engine size2']=='Unknown']

,model,year,price,transmission,mileage,engine size,mileage2,fuel type2,engine size2
3527,C Class,2017,19995,Automatic,8020,145,49.6,Petrol,Unknown

In [71]:
d1.drop(3527,axis=0,inplace=True)

In [73]:
d1['engine size2']=d1['engine size2'].astype(float)

In [74]:
d1.dtypes

model            object
year              int32
price             int32
transmission     object
mileage           int32
engine size       int32
mileage2        float64
fuel type2       object
engine size2    float64
dtype: object

In [75]:
d1.to_csv('cleaned cclass.csv')

In [76]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [77]:
ohe = OneHotEncoder()

In [78]:
ohe.fit(d1[['transmission','fuel type2']])

OneHotEncoder()

In [79]:
ohe.categories_

[array(['Automatic', 'Manual', 'Semi-Auto'], dtype=object),
 array(['Diesel', 'Hybrid', 'Other', 'Petrol'], dtype=object)]

In [80]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['transmission','fuel type2']),
                                    remainder='passthrough')

In [81]:
lr = LinearRegression()

In [82]:
pipe=make_pipeline(column_trans,lr)

In [83]:
ohe.categories_

[array(['Automatic', 'Manual', 'Semi-Auto'], dtype=object),
 array(['Diesel', 'Hybrid', 'Other', 'Petrol'], dtype=object)]